@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
body {
  background-color: hsl(180deg, 20%, 75%);
}

#container {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 250px 250px;
  gap: 15px;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.header h1 {
  font-family: "Open Sans", sans-serif;
  margin: 5px;
}
.header p {
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

.card-1 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-1 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-2 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-2 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-3 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-3 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-4 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-4 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-5 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-5 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-6 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-6 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-7 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-7 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-8 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-8 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-9 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-9 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-10 {
  border: 2.5px solid black;
  border-radius: 7.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
}
.card-10 h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  #container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
  }
}
@media screen and (max-width: 1024px) and (min-width: 800px) {
  #container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 250px);
  }
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  #container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 250px);
  }
}
@media screen and (max-width: 600px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 250px);
  }
}

/*# sourceMappingURL=style.css.map */
